/* default */
body {
  background-color: #1f1f1f;
}

header {
  color: white;
}

header h1 a{
  color: #fff !important;
}
header h1 a:hover{
  text-decoration: none;
}

/* input */
.csssearch {
  display: flex;
  justify-content: center;
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.on_version {
  background-color: #316cff;
}

/* output */
.selector {
  color: #ffd374;
  /* blue */
}

.property {
  color: #9cdcf0;
  /* orange */
}

.value,
.function-name {
  color: #ce916a;
  /* light orange */
}

.function-arg {
  color: rgb(0, 174, 122);
  /* light green */
}

.css-rule {
  margin-bottom: 10px;
  /* space between rules */
  /* white-space: pre;  */
  width: 50vw;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  color: white;
}
.color-preview {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  
  margin: 0 5px; /* Adjust the spacing as needed */
}